---
import Layout from "../../layouts/Layout.astro";
import IngredientList from "../../components/IngredientList";
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export const prerender = true;
export async function getStaticPaths() {
  const recipeEntries = await getCollection("recipes");
  return recipeEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.name}>
    <h1>{entry.data.name}</h1>
    <h2>ingredients</h2>
    <IngredientList client:load ingredients={entry.data.ingredients} serves={entry.data.serves}></IngredientList>
    
    <Content></Content>

</Layout>