---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Space+Mono&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<!-- this is page content -->
		
	</body>
</html>
<style is:global>
	:root {
		--main-background: black;
		--font-colour: white;
		);
	}
	html {
		font-family: 'Julius Sans One', sans-serif;
		font-family: 'Space Mono', monospace;
		background: var(--main-background);
		colour: var(--font-colour)
	}

</style>
